---
import { ensureTrailingSlash } from "@utils";

export interface Props {
  title: string;
  description?: string;
  overflow?: boolean;
}

const {
  title,
  description = "Yan Thomas' personal website",
  overflow = true,
} = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!DOCTYPE html>
<html class:list={["h-full", { "overflow-hidden": !overflow }]} lang="en">
  <head>
    <!-- High Priority -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <meta name="generator" content={Astro.generator} />
    <!-- Preloads -->
    <link
      rel="preload"
      href="/fonts/TASAOrbiterVF.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link rel="preload" as="image" href="/noise.svg" />
    <!-- Low Priority -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content={description} />
    <!-- OG -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={ensureTrailingSlash(canonicalURL)} />
    <meta property="og:image" content="/og_cover.jpg" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content="/og_cover.jpg" />
  </head>
  <body class="min-h-full text-neutral-300 scroll">
    <main
      class="min-h-screen pt-4 px-5 sm:grid sm:grid-cols-2 md:grid-cols-3 md:px-6 max-w-7xl mx-auto"
    >
      <slot />
    </main>
  </body>
</html>

<style>
  @font-face {
    font-family: "TASAExplorer";
    src: url("/fonts/TASAOrbiterVF.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  html {
    background-image: url("/noise.svg");
  }

  body::-webkit-scrollbar {
    width: 0.5em;
  }

  body::-webkit-scrollbar-thumb {
    @apply bg-neutral-500;
  }
</style>
